<h3 class="teams-header">About this sample</h3>
<div class="container-fluid">
    <div class="row-fluid">
        <p>This sample was created to show off Breeze's ability to work with Knockout in a database free application.</p>
        <p>Please feel free to use this sample to understand how to create your own application consuming any API you can find!</p>
        <p><strong>What is the purpose of this app? - </strong></p>
        <p>This sample is based on Breeze.js and Knockout.js and showcasing how quickly you can consume any API.</p>
        <p>The main purpose of this sample is to retrieve, cache, and relate the data using Breeze.js without a database.</p>
        <p><strong>Why the additional dependencies? - </strong></p>
        <p>This sample also uses Durandal.js, Require.js, Toastr.js and ASP.NET MVC to showcase how quickly this can be done.</p>
        <p>This sample consumes the ESPN Major League Baseball API that is publically available from their Developer's website.  This sample is an open source project maintained independent of ESPN.</p>
    </div>
</div>